/* footer */
footer {
  height: 500px;
  width: 100%;
  background-color:#1c1c1c;

}
.content-footer {
  margin-top: 20px;
  width: 100%;
  height: 70px;
  background-color: #272727;
  ;
}
.content-footer p {
  padding: 10px;
  color: #2d2f30;
}
.hr {
  height: 3px;
  width: 100%;
  background-color: rgb(13, 189, 13);
  margin-top: 20px;
}
